[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
MemoryCaptures/

.vs/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd

# Mac系统
.DS_Store

# Visual Studio Code
.vscode/

# Crash logs
sysinfo.txt